[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]

[dev-packages]
numpy = "*"
scikit-learn = "*"
scipy = "*"
pandas = "*"

[requires]
python_version = "3.5"
